body{
    position: relative;
}
#dropdownMenuLink{
    background-color: transparent;
    color: black;
    border: none;
}

#curve{
    position: absolute;
    bottom: -170px;
}




.hdd{
    background-color: rgb(4, 4, 69);
    color: white;
    text-align: center;

    padding-top: 5px ;
}
.hd{
    display: inline-block;
    padding: 9px 12px 3px 12px;
}
p{
    font-size: large;
}
.btn{
    background-color: #196ea4;
}
.btn:hover{
    background-color: #124869;
}
.n{
    
    padding:1% 10% 1% 10%;
}

#a{
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:16px;
    padding: 19px;
}



.j{
    padding-top: 5%;
    position:absolute;
    z-index: 1;
    width: 55%;
    padding-left: 5%;
}
.end{
    text-align: right;
}
.txt{
    text-align: left;
    padding: 15% 15% 16% 0% ;
}

#contact_us_btn{
    padding: 10px 25px 10px 25px;
    border-radius: 40px 2px 40px 40px;
}